.UserList, .UserDetails{
    padding: 15px;
}
.User{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    ul{
        margin: 0;
        padding: 0 0 0 15px;
        list-style: none;
    }
    .location{
        width: 100%;
        .leaflet-container{
            height: 500px;
            width: 500px;
            
        }
    }
}
